	h1
	{ color: rgb(32,194,14);
	  text-shadow: 0px 0px 4px rgb(48,112,14); }
	h2
	{ color: rgb(32,194,14);
	  text-shadow: 0px 0px 4px rgb(48,112,14); }
	p
	{ color: rgb(32,194,14);
		text-shadow: 0px 0px 4px rgb(48,112,14); }
	body
	{ background-color: rgb(0,15,0) ;
		text-shadow: 0px 0px 4px rgb(48,112,14);
		font-family: monospace; }
	li
	{ color: rgb(32,194,14);
		text-shadow: 0px 0px 4px rgb(48,112,14);
		font-family: monospace; }
	a
	{ color: rgb(32,194,14);
		text-shadow: 0px 0px 4px rgb(48,112,14);
		font-family: monospace; }
	a:hover
	{ color: rgb(0,5,0);
		box-shadow: 0px 0px 1px rgb(32,194,14);
		background-color: rgb(32,194,14);
		text-shadow: 0px 0px 4px rgb(0,15,0);
		font-family: monospace; }
